html
head
  title The Hartford - BuckOverflow
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
  script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
body
  section(class='section')
    div(class='container')
      h1(class='title')= Questions
        if questions_list.length > 0
           each question, index in questions_list
             div(class='tile')
                article(class='tile')
                  p(class='title')= question.title.S
                  p(class='subtitle')= question.labels.S
        else
          span No questions yet!




  form(method='POST', action='/submit')
    label Submit a question below
    input(type='text', name='Your question', placeholder='Ask here')
    button(type='submit') Submit
